<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1"  >
<listeners>
<listener class-name = "utlities.ExtentListener"/>
</listeners>
<test name="Regression1" >
   <parameter name ="browser" value ="Edge"/>
    <classes>
      
      <class name="TestngPractice.DataProvider"/>
      <class name="TestngPractice.LoginTest"/>
      <class name="TestngPractice.practicegit"/>
        <class name="TestngPractice.practicegit2"/>
        <class name="TestngPractice.practicegit3"/>
    </classes>
  </test>
</suite>